<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver </property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clubweb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="jdbc.use_scrollable_resultset">false</property>
        <property name="Connection.useUnicode">true</property>
        <property name="connection.characterEncoding">utf-8 </property>

        <property name="hibernate.connection.pool.size">20 </property>
        <property name="hibernate.c3p0.max_size">30</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.timeout">5000</property>

        <property name="jdbc.fetch_size">50 </property>
        <property name="jdbc.batch_size">23 </property>

        <property name="hibernate.show_sql">true </property>

        <!--
         create: 先删表，再建表。
         create-drop: 启动时建表，退出前删表。
         update: 如果表结构不一致，就创建或更新。
         validate: 启动时验证表结构，如果不致就抛异常。
        -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.cache.use_second_level_cache">false</property>

    </session-factory>
</hibernate-configuration>